<header id="header">
    <div class="logo"><a href="/">{{titulo}} <span>{{nombre}}</span></a></div>
    <a href="javascript:void(0);" onclick="toggleMenu()" class="menu"><span>Menu</span></a>
</header>



