<!-- Menú desplegable -->
<nav id="menu" class="menu-overlay">
    <ul class="links">
        <br> <br> 
        <li><a href="/">home?</a></li>
                <li><a href="/Gasolina"> Gasolina</a></li>

        <li><a href="/Electronicos">Electricos</a></li>
        <li><a href="/Diesel">Diesel</a></li>
        <li><a href="/Gasolina"> Gasolina</a></li>

    </ul>
</nav>


{{!-- <li><a href="/webservice">Aplicacion web</a></li>
        <li><a href="/portafolio">portafolio personal</a></li>
        <li><a href="/ajedrez">Ajedrez</a></li>
        <li><a href="/analizador">Analizador lexico</a></li>
        <li><a href="/di">Derecho Informatico</a></li>
        <li><a href="/HERAMIENTA-DE-CONTROL">Herramienta de control</a></li>
        <li><a href="/integrales">Calculadora de Integrales</a></li> --}}
