<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - No encontrado</title>
    <link rel="stylesheet" href="./css/404.css"> <!-- Enlaza tu archivo CSS -->
</head>
<body>
   <div class="error-container">
        <div class="image-container">
            <img src="./images/sticker_14.webp" alt="Sticker" class="error-image"> <!-- Ruta a la imagen -->
        </div>
        <h1 class="error-code">404</h1>
        <h2 class="error-message">Ups, parece que estás perdido.</h2>
        <p class="error-description">La página que buscas no se encuentra disponible.</p>
        <a href="/" class="home-button">Regresar a la página de inicio</a>
    </div>
</body>
</html>
